@import url("https://fonts.googleapis.com/css?family=Cairo");

:root {
  --black: #000;
  --white: #fff;
  --violet: #9747ff;
}

html {
  color: var(--white);
  font-family: "Cairo", sans-serif;
}

.nav-item a {
  font-size: 20px;
  font-weight: 400;
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
}

.nav-item a:hover {
  text-shadow: 0 0 5px var(--white);
}
