@import url("https://fonts.googleapis.com/css?family=Cairo");

:root {
  --black: #000;
  --white: #fff;
  --violet: #9747ff;
}

html {
  color: var(--white);
  font-family: "Cairo", sans-serif;
}

.nav-item a {
  font-size: 20px;
  font-weight: 400;
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
}

.nav-item a:hover {
  text-shadow: 0 0 5px var(--white);
}

.hero-title {
  font-size: 50px;
  font-weight: 700;
  color: var(--white);
}

p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

p.bold {
  font-weight: bold;
}

p.black {
  font-weight: 700;
}

p.extra-black {
  font-weight: bolder;
}

.section-title {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}

.btn {
  font-size: 25px;
  font-weight: 400;
  color: var(--white);
  text-decoration: none;
}

h2.section-subtitle {
  font-size: 45px;
  font-weight: 300;
  margin: 0 0 0.5rem 0;
}

h3.section-subtitle {
  font-size: 25px;
  font-weight: 300;
  margin: 0 0 0.5rem 0;
}

.contact-link {
  font-size: 25px;
  font-weight: 400;
  color: var(--white);
}

.catchphrase {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 15px;
  font-weight: 400;
  color: var(--white);
}

@media screen and (min-width: 992px) {
  .section-title {
    font-size: 60px;
  }

  h2.section-subtitle,
  .contact-link {
    font-size: 27.5px;
  }

  h3.section-subtitle {
    font-size: 35px;
  }
}
